html {
    background-color: #040303;
    font-family: "Helvetica Neue", sans-serif;
    max-height: 100vh;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

body {
    position: relative;
    margin: 100px auto;
    width: 300px;
    max-width: 300px;
    height: 580px;
    max-height: 580px;
    border-radius: 8px;
    padding: 5px;
    background: #34e89e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    overflow: hidden;
}

.title {
    font-size: 110%;
}

#login {
    background-color: rgba(255, 255, 255, .1);
    border-radius: 2px;
    padding: 10px;
    margin: 20px auto;
    width: 80%;
}

#login input {
    border-radius: 3px;
    opacity: 0.8;
}

input {
    border: none;
    padding: 10px;
    appearance: none;
    margin: 3px auto;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

#login input:focus {
    opacity: 1;
}

#login .button {
    text-align: center;
    padding: 10px;
    font-size: 100%;
    box-sizing: border-box;
    background-color: #34e89e;
    border-radius: 3px;
    margin: 5px auto;
    user-select: none;
}

.horizontal {
    list-style: none;
    padding: 10px 20px;
    margin: 0 auto;
    max-width: 100%;
    height: 130px;
    overflow-x: scroll;
    white-space: nowrap;
}

.horizontal > .movie-card {
    display: inline-block;
    height: 120px;
    width: 80px;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 1px 4px rgba(0,0,0, 0.04);
    margin: 0 3px;
}

#movie-description {
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    top: 600px;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px 5px 0 0;
    transition: all .25s ease-in-out;
    padding: 20px;
    text-align: center;
}

#movie-poster {
    max-height: 200px;
    margin: 0 auto;
    border-radius: 5px;
}

#movie-title {
    font-weight: bold;
    text-align: center;
    padding: 15px;
}

#movie-director, #movie-cast, #movie-genre {
    font-size: 70%;
    text-align: left;
}

#movie-info {
    padding: 10px 0;
    text-align: left;
    font-size: 90%;
    max-height: 150px;
    overflow-y: scroll;
}

#movie-like {
    width: 24px;
    height: 24px;
}

#close {
    text-align: right;
    opacity: 0.7;
}